<template>
	<div class="flex flex-wrap bg-white overflow-hidden">
		<div class="w-auto mx-3 my-3 border-solid border-grey-light rounded border shadow-sm">
			<div class="bg-grey-lighter px-2 py-2 border-solid border-grey-light border-b text-center">December
				2018
			</div>
			<div class="">
				<table class="w-full">
					<tr class="border-b">
						<th class="py-3 px-4">S</th>
						<th class="py-3 px-4">M</th>
						<th class="py-3 px-4">T</th>
						<th class="py-3 px-4">W</th>
						<th class="py-3 px-4">T</th>
						<th class="py-3 px-4">F</th>
						<th class="py-3 px-4">S</th>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td class="py-3 px-4 hover:bg-blue hover:text-white text-center cursor-pointer">1</td>
					</tr>
					<tr>
						<td class="py-3 px-4 hover:bg-blue hover:text-white text-center cursor-pointer">2</td>
						<td class="py-3 px-4 hover:bg-blue hover:text-white text-center cursor-pointer">3</td>
						<td class="py-3 px-4 hover:bg-blue hover:text-white text-center cursor-pointer">4</td>
						<td class="py-3 px-4 hover:bg-blue hover:text-white text-center cursor-pointer">5</td>
						<td class="py-3 px-4 hover:bg-blue hover:text-white text-center cursor-pointer bg-blue text-white">
							6
						</td>
						<td class="py-3 px-4 hover:bg-blue hover:text-white text-center cursor-pointer bg-blue text-white">
							7
						</td>
						<td class="py-3 px-4 hover:bg-blue hover:text-white text-center cursor-pointer">8</td>
					</tr>
					<tr>
						<td class="py-3 px-4 hover:bg-blue hover:text-white text-center cursor-pointer">9</td>
						<td class="py-3 px-4 hover:bg-blue hover:text-white text-center cursor-pointer">10</td>
						<td class="py-3 px-4 hover:bg-blue hover:text-white text-center cursor-pointer">11</td>
						<td class="py-3 px-4 hover:bg-blue hover:text-white text-center cursor-pointer">12</td>
						<td class="py-3 px-4 hover:bg-blue hover:text-white text-center cursor-pointer">13</td>
						<td class="py-3 px-4 hover:bg-blue hover:text-white text-center cursor-pointer">14</td>
						<td class="py-3 px-4 hover:bg-blue hover:text-white text-center cursor-pointer">15</td>
					</tr>
					<tr>
						<td class="py-3 px-4 hover:bg-blue hover:text-white text-center cursor-pointer">16</td>
						<td class="py-3 px-4 hover:bg-blue hover:text-white text-center cursor-pointer">17</td>
						<td class="py-3 px-4 hover:bg-blue hover:text-white text-center cursor-pointer">18</td>
						<td class="py-3 px-4 hover:bg-blue hover:text-white text-center cursor-pointer">19</td>
						<td class="py-3 px-4 hover:bg-blue hover:text-white text-center cursor-pointer">20</td>
						<td class="py-3 px-4 hover:bg-blue hover:text-white text-center cursor-pointer">21</td>
						<td class="py-3 px-4 hover:bg-blue hover:text-white text-center cursor-pointer">22</td>
					</tr>
					<tr>
						<td class="py-3 px-4 hover:bg-blue hover:text-white text-center cursor-pointer">23</td>
						<td class="py-3 px-4 hover:bg-blue hover:text-white text-center cursor-pointer">24</td>
						<td class="py-3 px-4 hover:bg-blue hover:text-white text-center cursor-pointer">25</td>
						<td class="py-3 px-4 hover:bg-blue hover:text-white text-center cursor-pointer">26</td>
						<td class="py-3 px-4 hover:bg-blue hover:text-white text-center cursor-pointer">27</td>
						<td class="py-3 px-4 hover:bg-blue hover:text-white text-center cursor-pointer">28</td>
						<td class="py-3 px-4 hover:bg-blue hover:text-white text-center cursor-pointer">29</td>
					</tr>
					<tr>
						<td class="py-3 px-4 hover:bg-blue hover:text-white text-center cursor-pointer">30</td>
						<td class="py-3 px-4 hover:bg-blue hover:text-white text-center cursor-pointer">31</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MyCalendar',
	components: {},
	props: {
		// rooms: {
		// 	type: Array,
		// },
	},
	// setup(props, { attrs, slots, emit }) {
	// 	const { rooms } = toRefs(props);
	// 	const headers = ref(null);
	// 	if (rooms.value?.[0]) headers.value = Object.keys(rooms.value[0]);
	//
	// 	return { headers };
	// },
});
</script>

<style scoped>
</style>